.statistics{
    background-color: rgb(158, 35, 35);
}
.statistics svg{
    fill: white;
}
.statistics p{
    color: white;
    margin: 0;
}
.statistics:hover{
    background-color: rgb(158, 35, 35);
}
.significativedata{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: calc(.25rem *6);
    align-items: center;
    justify-content: space-between;
}
.report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .625rem;
    padding: 24px;
}
.info h3{
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
}
.info .number{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 8px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: .625rem;
    background-color: color-mix(in oklab, #FFFFFF 20%, transparent);
}
.icon svg{
    height: 24px;
    width: 24px;
}
.totalstudent{
    background: linear-gradient(135deg, rgb(158, 35, 35), rgb(173, 34, 34));
}
.totalmaterias{
    background: linear-gradient(135deg, rgb(173, 34, 34), rgb(214, 24, 59));
}
.genaralscore{
    background: linear-gradient(135deg, rgb(214, 24, 59), rgb(207, 87, 89));
}
.aprovation{
    background: linear-gradient(135deg, rgb(207, 87, 89), rgb(158, 35, 35));
}