.student{
    background-color: rgb(158, 35, 35);
}
.student svg{
    fill: white;
}
.student p{
    color: white;
    margin: 0;
}
.student:hover{
    background-color: rgb(158, 35, 35);
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: .625rem;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    font-size: 14px;
}

table thead{
    background-color: rgb(247, 247, 250);
}

table thead th{
    color: #000000;
    text-align: left;
    font-weight: 500;
    padding-inline: 8px;
    padding-block: 0;
    height: calc(.25rem*10);
}
table thead .accions{
    text-align: right;
}
table tbody tr td{
    color: #000000;
    text-align: left;
    font-weight: normal;
    padding-block: calc(.25rem*4);
    padding-inline: 8px;
}
table tbody tr .actions{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: calc(.25rem *2);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(.625rem - 2px);
    padding-inline: 10px;
    border-width: 1px;
    height: calc(.25rem *8);
    background-color: #fff;
}
.edit{
    border-color:rgb(158, 35, 35);
}
.edit svg{
    height: 20px;
    width: 20px;
    fill: rgb(158, 35, 35);
}
.delete{
    border-color: rgb(232, 0, 12);
}
.delete svg{
    height: 20px;
    width: 20px;
    fill: rgb(232, 0, 12);
}
table tbody tr:hover{
    background-color: #f8f8fa;
}
.edit:hover{
    cursor: pointer;
    background-color: rgb(158, 35, 35);
}
.edit:hover svg{
    fill: white;
}
.delete:hover{
    cursor: pointer;
    background-color: rgb(232, 0, 12);
}
.delete:hover svg {
    fill: white;
}

